@using Library.Models.Entity
@model List<Library.Models.Entity.Action>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<br />
<h2>Kitap Geçmişi</h2>
<br />
<table class="table table-bordered">
    <tr style="background-color:rgb(252, 178, 22)">
        
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
        

    </tr>

    @foreach (var k in Model)
    {
        <tr>
            
            <td>@k.Book1.BookName</td>
            
            
            <td>@Convert.ToDateTime(k.BorrowDate).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.MemberDate).ToString("dd/MM/yyyy")</td>

            

        </tr>
    }
</table>



